.header {
  // display: none;
  height: rem(80px);
  width: 100%;
  border-bottom: 1px solid #ededed;
  background: rgba(255,255,255,1);
  background: $nav-bg;
  border-bottom: $nav-border;

  .row {
    height: 100%;
    position: relative;
  }
  .logo {
    position: absolute;
    top: 0;
    left: rem(15px);
    display: block;
    height: 100%;
    line-height: rem(80px);

    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-55%);
      display: inline;
      max-height: rem(24px);
      max-width: rem(155.33333px);
      transition: fill 250ms ease;
      path { fill: $accent; }

      &:hover {
        path { fill: $base; }
      }
    }
  }
  .login {
    position: absolute;
    top: rem(0px);
    right: rem(15px);
    display: block;
    height: 100%;

    font-weight: bold;
    color: $accent;
    text-decoration: none;
    line-height: rem(80px);
    svg {
      max-height: rem(24px);
      max-width: rem(19.2px);
      margin-bottom: rem(-3px);
      path { fill: $accent; }
    }
    &:hover {
      color: $base;
      svg path { fill: $base; }
    }
  }
}
