@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";

@function rem($size) {
  @return #{$size / 16px;}rem;
}

@function letterspacing($kerning, $pixelHeight) {
  $rem: $pixelHeight/16;
  $size: $kerning/1000;
  @return #{$rem*$size}rem;
}

@keyframes jiggle {
  0%   {bottom: 0;}
  50%  {bottom: rem(4px);}
  100% {bottom: 0;}
}

$base: #304041;
$accent: #E34F51;
$bright: #50E3C2;
$purple: #9013FE;
$main-bg: #eee;
$nav-border: #ededed;
$nav-bg: white;

* { box-sizing: border-box; }

html { font-size: 16px; }

body {
  font-family: "roboto", sans-serif;
  padding: 0;
  margin:0;
  font-size: rem(16px);
  background: $main-bg;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  text-transform: uppercase;
}

.row {
  max-width: rem(990px);
  padding: 0 rem(15px);
  margin: 0 auto;
}
.main {
  padding-top: rem(40px);
  padding-bottom: rem(60px);
  background: $main-bg;
}

@import "header";
@import "hero";
@import "footer";
